@page "/productdetail"
@using GlobalApp.Models
@using GlobalApp.Services
@inject ProductDetailService ProductDetailService
@inject NavigationManager Nav

<h3>Detalles del Producto</h3>

@if (isLoading)
{
    <p>Cargando...</p>
}
else if (productDetail != null)
{

    <div class="row d-flex justify-content-center">
        <div class="col-12">
            @if (productDetail.Images != null && productDetail.Images.Any())
            {
                <img src="@productDetail.Images.FirstOrDefault()" alt="@productDetail.Title" class="product-image" />
            }
            else
            {
                <p>No hay imágenes disponibles para este producto.</p>
            }
        </div>
        <div class="col-12">
            <h4>@productDetail.Title</h4>
        </div>
        <div class="col-12">
            <strong>Precio: </strong>@productDetail.Price
        </div>
        <div class="col-6">
            <strong>Calificación: </strong>@productDetail.Rating
        </div>
        <div class="col-6">
            <strong>Calificaciones: </strong>@productDetail.RatingNumber
        </div>
        <div class="desc">
            <strong>Sobre este artículo: </strong>
            <ul>
                @{
                    if (productDetail.AboutThisItem.Count > 0)
                    {
                        @foreach (var item in productDetail.AboutThisItem)
                        {
                            <li>@item</li>
                        }
                    }
                }
            </ul>
        </div>
    </div>

    <div class="product-details">
    </div>
}
else
{
    <p>Producto no encontrado.</p>
}

@code {
    private ProductDetailResponse productDetail;
    private bool isLoading = true;


    protected override async Task OnParametersSetAsync()
    {
        var queryParams = Nav.Uri.Split('?')[1].Split('&');
        var asinParam = queryParams.FirstOrDefault(param => param.StartsWith("asin="));
        var asin = asinParam?.Split('=')[1];

        if (string.IsNullOrEmpty(asin))
        {
            isLoading = false;
            return;
        }

        productDetail = await ProductDetailService.GetProductDetailsAsync(asin);
        isLoading = false;
    }
}
